1.What are data structures, and why are they important?


*   Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

Importance of data structures-


*   Choosing the right data structure significantly impacts the efficiency and performance of your program.

*  Simplify data manipulation (adding, removing, modifying elements).
*  Optimize searching and sorting operations.   
*   Conserve memory usage.

2. Explain the difference between mutable and immutable data types with examples.

**Mutable Data types:-**

a. Objects or data types whose state or value can be changed after they are created are known as mutable data types.

b.Not hashable by default, so they cannot be used as dictionary keys or set elements.

Examples- List,Set,Dictionary

**Immutable Data types:-**

a.Objects or data types whose state or value cannot be changed after they are created are known as immutable data types.

b. Hashable, making them suitable as dictionary keys or set elements.

Examples- Integer,String,Tuple

3.What are the main differences between lists and tuples in Python?

**Lists:-**

a.Lists is mutable data types.

b.Lists are defined using square brackets: [ ]

c.Supports many methods like append(), remove(), pop(), sort(), etc.

d.Consumes more memory.

**Tuples:-**

a.Tuples is immutable data types.

b. Tuples are defined using parentheses: ( )

c.Supports limited methods; primarily count() and index()

d. More memory-efficient.

4.Describe how dictionaries store data.


*   Dictionary is a data structure thatstores data as key-value pair.


*   Keys are unique and immutable.
5.Why might you use a set instead of a list in Python?


*   Sets are unique collection of elements.
*   Sets check membership operation faster than lists.

*   Removing duplicate elements from a set is faster than list.
*   Set supports set operations like union,intersection,difference and symmetric difference.
6.What is a string in Python, and how is it different from a list?
*   String is a sequence of character and is used to represent and manipulate textual data.

**String:-**


*   String is immutable datatype.
*   It consists only of characters.
*   String is mainly used for text processing.
Example:"Hello"


**List:-**


*   List is mutable data type.
*   It consists of elements of any data types.
*   List is mainly used for collection of items.
Example:[1,"abc",2+4j]
7. How do tuples ensure data integrity in Python?


*   Tuples ensure data integrity in python in several ways:-

a. **Prevents Accidental Modification:**
Once a tuple is created, its elements cannot be changed, added, or removed. This immutability guarantees that the data remains consistent throughout the program, reducing the risk of unintended side effects.

b.**Supports Hashing for Use as Dictionary Keys:**
Tuples can be used as keys in dictionaries because their immutability ensures their hash value remains constant. This is crucial for maintaining the integrity of dictionary keys.

c.**Ensures Consistent Data Structures:**
Tuples are often used to represent fixed collections of items.Their immutability guarantees that these data structures remain consistent and reliable throughout the program.

8.What is a hash table, and how does it relate to dictionaries in Python?

**Hash Table:-**
A hash table stores key-value pairs and uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. The key is hashed, and the resulting hash indicates where the corresponding value is stored. This allows for efficient data retrieval.

Relation of hash table to dictionaries in python:-

Python's dictionaries  is implemented using a hash table. When you insert a key-value pair, Python computes the hash of the key and uses it to determine the appropriate bucket in the hash table. If two keys hash to the same bucket (a collision), Python uses a collision resolution strategy, such as open addressing with quadratic probing, to find an alternative location for the new key-value pair.This mechanism ensures that dictionary operations like insertion, deletion, and lookup can be performed in constant time on average, making dictionaries highly efficient for these operations.

9.Can lists contain different data types in Python?


*   Yes,lists can contain different data types in python.
10.Explain why strings are immutable in Python.

Strings are immutable in python because of the following reasons:-


*  Immutability allows Python to optimize memory usage by reusing string objects. For instance, when multiple variables reference the same string value, Python can point them to the same memory location, reducing redundancy.
*  Since strings are immutable, their hash value remains constant throughout their lifetime. This property is essential for using strings as keys in dictionaries or elements in sets, as these data structures rely on the immutability of keys for efficient lookup and storage.
11.What advantages do dictionaries offer over lists for certain tasks?

The advantages of dictionaries over lists are as follows:-


*   Dictionaries provide average constant-time complexity for lookups, insertions, and deletions. This efficiency arises from their underlying hash table implementation, which allows for quick access to values based on unique keys.
*   In dictionaries, values can be accessed  directly using  keys.This is more  efficient compared to searching for an item in a list.

*   With dictionaries, there's no need to manage indices manually.We can associate values with descriptive keys.
*   Python dictionaries come with a variety of built-in methods like .get(), .keys(), .values(), and .items(), which facilitate easy data manipulation and iteration.
12. Describe a scenario where using a tuple would be preferable over a list.
* Imagine you're developing a mapping application that needs to store GPS
coordinates for various landmarks. Each coordinate is a pair of latitude and longitude values that should remain constant throughout the application's lifecycle.

Advantages:-

a. Immutability: The tuple ensures that the coordinates cannot be accidentally modified, preserving data integrity.

b.Hashability: Tuples can be used as keys in dictionaries, allowing you to map landmarks to their descriptions efficiently.

c.Performance: Tuples are more memory-efficient and slightly faster for iteration compared to lists, which is beneficial when handling large datasets.

13.How do sets handle duplicate values in Python?



*   In Python, sets are designed to store unique elements.When you add elements to a set, any duplicates are automatically discarded.

Example:

my_set = {1, 2, 3, 1, 2}

 print(my_set)

->Output will be {1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries?

**Lists:-**
*   When used with a list, the in keyword checks for the presence of an element. It performs a linear search, iterating through each item until a match is found or the end of the list is reached.

Example:

fruits = ["apple", "banana", "cherry"]


print("banana" in fruits)  # Output: True

print("orange" in fruits) # Output: False

**Dictionaries:-**
*   In dictionaries, the in keyword checks for the presence of a key, not a value.

Example:

person = {"name": "Alice", "age": 30, "city": "New York"}

print("name" in person)  # Output: True

print("Alice" in person)  # Output: False

15.Can you modify the elements of a tuple? Explain why or why not?



*   If you try to modify the  element of a tuple directly, Python raises a
error.

The reasons are-
*  Data Integrity: Immutability ensures that the data stored in a tuple cannot be altered, providing a guarantee that the tuple's contents remain consistent.



*   Performance: Tuples are generally more memory-efficient and faster to iterate over than lists, making them suitable for fixed collections of data.
 Exception:- if a tuple contains a mutable object (like a list), you can modify the contents of that object.

16.What is a nested dictionary, and give an example of its use case?


 **Nested Dictionary:-**A nested dictionary in Python is a dictionary where the value associated with a key is another dictionary. This structure allows you to represent hierarchical data, making it ideal for complex datasets.

Example:

Information about multiple employees, including their name, age, and department.
employees = {
    101: {"name": "John", "age": 30, "department": "HR"},
    102: {"name": "Jane", "age": 25, "department": "Finance"},
    103: {"name": "Doe", "age": 28, "department": "IT"}
}

In this example, each employee ID (e.g., 101) is a key in the outer dictionary, and the corresponding value is another dictionary containing the employee's details.

17.Describe the time complexity of accessing elements in a dictionary.

The time complexity of accessing elements in a dictionary are as follows-

**Average-Case Time Complexity: O(1)**

Under typical conditions, accessing a value by its key in a dictionary is an O(1) operation. This constant time complexity is achieved because:

a. Hash Function: Python computes the hash of the key using a hash function, which maps the key to an index in the underlying array.

b. Direct Indexing: The hash value determines the index where the key-value pair is stored, allowing for direct access.

**Worst-Case Time Complexity: O(n)**

In rare scenarios, the time complexity of accessing an element can degrade to O(n), where n is the number of elements in the dictionary. This can occur due to:

a.Hash Collisions: If many keys hash to the same index, the dictionary may store them in a list or chain, requiring a linear search to find the correct key.

b.Poor Hash Function: A weak hash function can lead to clustering, increasing the likelihood of collisions.

18. In what situations are lists preferred over dictionaries?

In Python, lists are preferred over dictionaries in scenarios where:

1. Maintaining Order and Sequence:

Use Case: When the order of elements matters, such as processing items in the sequence they were added.

Example: Iterating over a playlist of songs in the order they were added.

Lists maintain the insertion order of elements, making them ideal for ordered data.

2.Index-Based Access:

Use Case: When you need to access elements by their position or index.

Example: Accessing the first item in a shopping cart.


Lists provide O(1) time complexity for accessing elements by index, allowing for efficient retrieval.

3.Allowing Duplicate Values:

Use Case: When the dataset may contain duplicate values.

Example: Storing a list of tags where multiple items can have the same tag.


Unlike dictionaries, lists allow duplicate values, making them suitable for such scenarios.

4.Efficient Appending and Removal:

Use Case: When you frequently add or remove elements, especially at the end of the collection.

Example: Building a list of processed items during a loop.


Lists offer O(1) amortized time complexity for append operations, making them efficient for dynamic collections.


5.Simpler Data Structure:

Use Case: When you need a simple, straightforward data structure without the overhead of key-value mapping.

Example: Storing a list of user inputs.

Lists are less complex than dictionaries, making them easier to use when key-value mapping is unnecessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?



*   Dictionaries in Python are implemented using hash tables. Each key is hashed to compute an index, and the corresponding value is stored at that index. This allows for efficient lookups, additions, and deletions. However, the order in which items are stored in the hash table is not guaranteed, leading to the unordered nature of dictionaries in earlier versions of Python.

Dictionaries affect data retrieval by-

With the introduction of ordered dictionaries, you can rely on the order of items when iterating over them. For example, if you add items to a dictionary in a certain sequence, iterating over the dictionary will yield the items in that same sequence. This is particularly useful when the
order of data matters, such as when processing configurations or serializing data.

20.Explain the difference between a list and a dictionary in terms of data retrieval.


**Lists:-**


*   Structure: Ordered collection of items.
*   Access Method: Elements are accessed using integer indices, starting from 0.



*  Time Complexity:

   a. Access by index: O(1) — Direct access is fast.

   b.Search by value: O(n) — Requires scanning each element until a match is found.


*   Use Case: Ideal when the order of elements matters or when you need to perform operations like slicing or appending.

Example:

fruits = ['apple', 'banana', 'cherry']


print(fruits[1])  # Output: 'banana'

**Dictionary:-**



*   Structure: Unordered collection of key-value pairs.


*   Access Method: Elements are accessed using unique keys.



*   Time Complexity:

   a.Access by key: O(1) — Fast retrieval due to hash table implementation.

   b.Search by value: O(n) — Similar to lists, requires scanning each value.
*  Use Case: Suitable when you need to associate values with unique identifiers (keys) and require fast lookups.

Example:

student = {'name': 'Alice', 'age': 20}


print(student['name'])  # Output: 'Alice'

1.Write a code to create a string with your name and print it.

In [2]:
name=input("Enter your name:")
print(f"Hi,My name is {name}")

Enter your name:Soumyajit
Hi,My name is Soumyajit

2.Write a code to find the length of the string "Hello World".

In [4]:
s="Hello World"
len(s)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
s="Python Programming"
s[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase.

In [6]:
s="hello"
s.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
s="I like apple"
s.replace("apple","orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
l=[1,2,3,4]
l.append(10)
print (l)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
l=['a','b','c','d']
l[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [15]:
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
t=(100,200,300)
print(t)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [17]:
t=('red','green','blue','yellow')
t[-2]

'blue'

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [18]:
t=(10,20,5,15)
min(t)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
t=('dog','cat','rabbit')
t.index("cat")

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits=("apple","kiwi","banana")
if"kiwi"in fruits:
  print("Kiwi is there.")
else:
    print("Kiwi is not there")

Kiwi is not there

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [27]:
s={1,2,3,4,5}
s.clear()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [29]:
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [30]:
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [31]:
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [33]:
person={"name":"Soumyajit","age":24,"city":"Kolkata"}
print(person)

{'name': 'Soumyajit', 'age': 24, 'city': 'Kolkata'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [38]:
d={'name':'John','age':25}
d1={"country":"USA"}
d.update(d1)
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [41]:
d={'name':'Alice','age':30}
d.get('name')

'Alice'

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [43]:
d={'name':'Bob','age':22,'city':'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
  print("key 'city' exists in d ")
else:
    print("key'city' doesnot exist in d")

key 'city' exists in d

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [46]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "Alice", "age": 30, "city": "Paris"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [51]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [27, 40, 49, 53, 93]

28.Write a code to create a list with strings and print the element at the third index.

In [54]:
fruits=["mango","orange","apple","banana","grapes"]
fruits[3]

'banana'

29.Write a code to combine two dictionaries into one and print the result.

In [60]:
students=["Arun","Ram","Sita"]
marks=[60,80,100]
{student:mark for student,mark in zip(students,marks)}

{'Arun': 60, 'Ram': 80, 'Sita': 100}

30. Write a code to convert a list of strings into a set.

In [61]:
list=["Brinjal","Apple","Orange","Apple"]
s=set(list)
print(s)

{'Brinjal', 'Apple', 'Orange'}